nav {
    background-color: brown;
}
li {
    padding-left: 20px;
}
.navbar-text {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: feneon-single, sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 25px;
    text-shadow: 0 0 7px white, 0 0 6px white, 0 0 2px white;
}
.neonact {
    font-family: feneon-single, sans-serif;
    font-weight: 400;
    text-shadow: 0 0 7px white, 0 0 6px white, 0 0 2px white;
    padding-top: 15px;
    font-size: 18px;
}
.neonnon {
    color:rgb(95, 15, 15);
    font-family: feneon-single, sans-serif;
    font-weight: 400;
    text-shadow: 0 0 1px rgb(53, 3, 3);
    padding-top: 15px;    
    font-size: 18px;
}
.neonlink {
    color:rgb(137, 137, 255);
    font-family: feneon-single, sans-serif;
    font-weight: 400;
    text-shadow: 0 0 7px rgb(60, 60, 255), 0 0 6px rgb(60, 60, 255), 0 0 2px rgb(60, 60, 255);
    padding-top: 15px;
    font-size: 18px;
}
